.index-title {
    text-align: center;
    animation-name: appear;
    animation-duration: 2s;
}



#index-sun {
    color: white;
    font-family : "Parisienne";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 100px auto;
    transition: 0.3s;
    cursor: pointer;
}


.sun {
    font-size: 200px;
    animation-name: spin;
    animation-duration: 3s;
}

#index-sun:hover {
    color: yellow;
    transform: scale(1.2);

}

.sun-text {
    font-size: 60px;;
    
    
 
}


.title-text {
    color: red;
    font-family: "Creepster", "Arial" ;
    font-size: 140px;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 10px;
    text-shadow: 10px 10px 10px rgba(249, 1, 1, 0.6);
}

@keyframes spin {

    0% {

    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes appear {

    from {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}






.start-page {
    /* background-color: black; */
    background-image: url("stars.jpg") ;
    
}

