body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}


.main-page {
    height: 100vh;        
}


li {
    font-size: 20px;  
    text-align: left;
    font-weight: 700;
}

.name {
    color: red;
    font-size: 65px;
}


.banner {
    height: 250px;   
    padding: 20px 40px;
    background-color: whitesmoke;
    border-bottom: 1px solid #ccc;
    position: relative;
}


.banner-text {
    margin-bottom: 10px;
}

.description {
    font-size: 28px;
}


#banner-logo img {
    height: 100px;
    width: auto;  
    position: absolute;
    top:70px;
    right:40px;
    cursor: pointer;
    
    
    animation-name: netflixman;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.logo-text {
    font-size: 20px;
    color: black;       
    margin-top: 7px;    
    font-weight: bold;
    position: absolute;
    top:130px;
    right:50px;
}


/* Window section */
.window {    
    display: block;
    background-image: url("day.jpeg");
    background-size: cover;
    background-position: center;
    box-shadow:  0 0 5px rgba(0,0,0,0.3);
    padding: 40px;   
    transition: opacity 1s;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}

.window:hover {
    opacity: 0.7;
}


.quadrant {
    border: 4px solid white;
    padding: 40px;
    text-align: center;
    margin-bottom: 20px; 
    border-radius: 30px;
}


details {
    margin-top: 20px;
    font-size: 18px;
}

summary {
    cursor: pointer;
    font-weight: bold;
}


@keyframes netflixman {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(-55px)
    }
    100% {
        transform: translateY(-30px);
    }
}